/* 
declaration block

selector{
property: value;
}
*/

body{
    background-color: rgb(163, 79, 184);
    color:rgb(38, 2, 35);
}

nav{
    height:600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height:30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
}