body {
    background-color: #874d74;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    color: #080000;
}

h2 {
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
    color: #31012f;

}

form {
    background: white;
    padding: 25px;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #874d74; 
    box-shadow: 0px 4px 12px rgba(51, 3, 49, 0.336);
}


input {
    width: 85%;
    padding: 12px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 16px;
    border: 2px solid #ff9ce6;
    border-radius: 10px;
    transition: 0.3s;
}

input:focus {
    border-color: #7b2cbf; 
    box-shadow: 0px 0px 8px rgba(162, 91, 255, 0.7);
    outline: none;
}

button {
    margin-top: 10px;
    background: #ff77d4; 
    color: white;
    padding: 14px 20px;
    border: none;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background: #93358a;
    transform: scale(1.07);
}
#message {
    margin-top: 15px;
    color: #573045; 
    font-weight: bold;
    font-size: 18px;
    background: #ffe0fe;
    padding: 10px;
    border: 2px solid #e77df8;
    border-radius: 10px;
    display: inline-block;
}

#secret {
    margin-top: 25px;
    padding: 18px;
    background: #d2ffe2; 
    border: 3px solid #67c98d;
    border-radius: 15px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: #1d4e2ad0;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
}